apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
      - name: vault
        image: dallasformularacing/vault:af7644495bf0a18dc256889b3dc2529c656418d9
        ports:
        - containerPort: 8080
        env:
          - name: PG_HOST
            valueFrom:
              secretKeyRef:
                name: vault
                key: PG_HOST
          - name: PG_NAME
            valueFrom:
              secretKeyRef:
                name: vault
                key: PG_NAME
          - name: PG_USER
            valueFrom:
              secretKeyRef:
                name: vault
                key: PG_USER
          - name: PG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: vault
                key: PG_PASSWORD
          - name: PG_PORT
            valueFrom:
              secretKeyRef:
                name: vault
                key: PG_PORT