apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
      - name: vault
        image: dallasformularacing/vault:22471e1cad25667b605671675d9aaae6011d0ba1
        ports:
        - containerPort: 8080
        env:
          - name: PG_HOST
            valueFrom:
              secretKeyRef:
                name: vault
                key: DB_HOST
          - name: PG_NAME
            valueFrom:
              secretKeyRef:
                name: vault
                key: DB_NAME
          - name: PG_USER
            valueFrom:
              secretKeyRef:
                name: vault
                key: DB_USER
          - name: PG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: vault
                key: DB_PASSWORD
          - name: PG_PORT
            valueFrom:
              secretKeyRef:
                name: vault
                key: DB_PORT