name: CI/CD - Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Step 1: Checkout repo
      - name: Checkout Code
        uses: actions/checkout@v5
    
      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
    
      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          pip install --no-cache-dir pipenv
          pipenv install
    
      # Step 4: Verify app runs (test only, no server hang)
      - name: Run app check
        run: |
          pipenv run python src/main.py & sleep 5 && pkill -f main.py

      # Step 5: Log in to DockerHub
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 6: Build & Push Docker image
      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/vault:${{ github.sha }}

      # Step 7: Update image tag in deployment.yaml
      - name: Update deployment.yaml
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          sed -i "s|image: ${{ vars.DOCKERHUB_USERNAME }}/vault:.*|image: ${{ vars.DOCKERHUB_USERNAME }}/vault:${GITHUB_SHA}|" deployments/deployment.yaml
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add deployments/deployment.yaml
          git commit -m "Update deployment.yaml"
          git push